* {
    box-sizing: border-box;
}
body{
    font-family: 'Slabo 27px', serif;
    text-align: center;
}
header{
    margin-top: 1.5em;
    position: absolute;
    left: 0;
    right: 0;
    clear:both;
    overflow: auto;
}
.name{
    font-size: 4.3em;
    color: #543e5c;
    font-weight: 1200px;
    margin: 0;
}
.head-nav ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.head-nav li{
    display: inline-block;
    margin: 1em;
}
.head-nav a{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em;
    color: #fff0f8;
}
.intro{
    background: linear-gradient(90deg,rgba(62,56,56,0.5),rgba(22,20,19,0.8)),url(intro-Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10em 0;
    color: #fff0f8;
}
.content-intro{
    margin-top: 5em;
    overflow: auto;
}
.content-intro h1{
    margin-top: 1.5em;
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
}
.content-intro span{
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-top: 10px;
}
.button-intro{
    padding: 0.5em 2em;
    margin-top: 1em;
    background: #543e5c;
    color: #ffffff;
    font-weight: 400;
    border: 2px solid #543e5c;
    text-transform: uppercase;
    transition: all 0.2s linear;
}
.button-intro:hover{
    background: grey;
    color: #543e5c;
    border: 2px solid grey;
}
.about-me{
    padding: 5em 0;
    overflow: auto;
    
}
.about-me h4{
    color: #543e5c;
}
.content-wrap{
    width: 90%;
    margin :0 auto;
    
}
.col-narrow{
    float: left;
    overflow: hidden;
    margin-top: 2em;
}
.col-wide{
    width: 70%;
    float: right;
    text-align: left;
    overflow: hidden;
    margin-top: 2em;
}
.social-icons{
    list-style: none;
    padding: 0;
}
.social-icons li{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}
.social-icons a{
    border-radius: 50%;
    border: 1px solid #444444;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    display: block;
    color: #444444;
    transition: all 0.2s ease-in;
}
.social-icons a:hover{
    color: #543e5c;
    border:1px solid grey;
    background: grey;
}